<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/element-ui.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="lib/wangEditor/wangEditor.min.js"></script>
    <script src="lib/jquery.md5.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="lib/element-ui.css"/>
    <link rel="stylesheet" type="text/css" href="css/newask.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>

    <title>答题</title>
</head>
<body>
<div id="app">
    <header>
        <div class="header">
            <div><a href="index.html"><img class="img-logo" src="lib/logo1.png" alt=""></a></div>
            <div class="plane-login">
                <div v-show="islogin==0">
                    <a href="#" @click="showLoginWindow=true">登录</a> | <a href="">注册</a>
                </div>
                <div v-show="islogin==1">

                    <el-menu :default-active="menuActiveIndex" class="el-menu-demo" mode="horizontal">
                        <el-submenu index="2">
                            <template slot="title"><img
                                    src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png" alt=""
                                    class="nav-avatar">{{userinfo.name}}
                            </template>
                            <el-menu-item index="2-1">个人中心</el-menu-item>
                            <el-menu-item index="2-2">设置</el-menu-item>
                            <el-menu-item index="2-3" @click="exit">退出登录</el-menu-item>
                        </el-submenu>
                    </el-menu>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content">
            <h2>20142学期《数据库原理及应用-SQLServer》第05次操作题1</h2>
            <el-lable><b>操作:</b>根据题目中给出的操作要求，完成相应的操作。<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系统将对学生在本题做完时上传的操作题文件进行自动评分--每一个操作题文件. 上传后，至少需<b>3分钟</b>才能看到该文件的评分结果，若此后3分钟内又重新上传了同名文件，则此前的文件将不被评分并且又需要至少等待3分钟。<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本题共有1个小题，每小题100分。
            </el-lable>

            <template>
                <el-table :data="tableData3" ref="multipleTable">
                    <el-table-column prop="id" label="序号" width="100"></el-table-column>
                    <el-table-column prop="description" label="描述" width="880"></el-table-column>
                </el-table>
            </template>
            <div style="float:right;margin-top:10px">

                <el-upload
                        class="upload-demo"
                        ref="upload"
                        action="https://jsonplaceholder.typicode.com/posts/"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        :file-list="fileList"
                        :auto-upload="false">
                    <el-button slot="trigger" type="primary" icon="el-icon-search">选取文件</el-button>
                    <el-button style="margin-left: 10px;" type="success" icon="el-icon-upload" @click="submitUpload">
                        上传文件
                    </el-button>
                    <a href="result.html"><el-button type="primary" icon="el-icon-check">查看结果</el-button></a>
                    <div slot="tip" class="el-upload__tip">上传提示</div>
                </el-upload>
            </div>
        </div>

        <transition name="el-zoom-in-center">
            <div class="window-plane-login" v-show="showLoginWindow">
                <div class="box-mask"></div>
                <div class="box-login">
                    <div class="plane-login-title">
                        <div><b>登录账户</b></div>
                        <div @click="closeLoginPlane"><i class="el-icon-close close"></i></div>
                    </div>
                    <div class="box-login-form">
                        <div class="form-item">
                            <el-input v-model="form.user" placeholder="账号"></el-input>
                        </div>

                        <div class="form-item">
                            <el-input v-model="form.pass" placeholder="密码" show-password></el-input>
                        </div>
                        <div class="form-item form-set-right">
                            <a href="#">忘记密码</a> | <a href="#">无法登录</a>
                        </div>
                        <div class="form-item form-set-right">
                            <el-button type="primary" @click="login">登录</el-button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </main>
    <script>
        (function ($) {
            $.getUrlParam = function (name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            }
        })(jQuery);


        var vue = new Vue({
            el: '#app',
            mounted() {
                this.init()
            },
            data: {
                fileList: {},
                tableData3: [{
                    id: '1',
                    description: "单击此处下载数据库备份文件“src.rar” (winRar压缩包)， 还原到考生所用的系统中，数据库名为“学生信息”。"
                }, {
                    id: '2',
                    description: "在数据库“学生信息”中，新建一名为“个人信息”表，表结构如下:"
                }, {
                    id: '3',
                    description: "将“个人信息”表“编码”列设置为主键。"
                }, {
                    id: '4',
                    description: "为“个人信息”表“身份证号”列建立唯一索引，索引名为“IX_个人信息_身份证号”"
                }, {
                    id: '5',
                    description: "将“个人信息”表“性别”列的默认值设为“男”，并增加约束，该列只能输入“男”或“女”，约束名为“CK_个人信息性别”。"
                }, {
                    id: '6',
                    description: "创建-名为“学生总评成绩”的视图，显示学生的学号、学生的姓名、学生所学课程的名称及总评成绩。"
                }, {
                    id: '7',
                    description: "将课程表中至今没有学生选学的课程记录行删除。"
                }, {
                    id: '8',
                    description: "将“学生”表所有名字只有两个字的学生信息复制到表“两字学生”中，再将表“两字学生”的姓名中间加入一-全角的空格，例如姓名“张三”则更改为“张三” 。"
                }, {
                    id: '9',
                    description: "完全备份数据库“ 学生信息”，备份文件命名为“学生信息.bak”，将文件“学生信息bak\"用WinRar压缩为“学生信息.rar”，上传到指定的服务器上。"
                }],
                form: {
                    user: '',
                    pass: ''
                },
                menuActiveIndex: 1,
                islogin: 1,
                userinfo: {
                    name: ''
                },
                showLoginWindow: false
            },
            methods: {
                init() {

                    var that = this;
                    },
                login() {
                    that = this;
                    $.post('/user/login.do', {user: that.form.user, pass: $.md5(that.form.pass)}, function (data) {
                        if (data == 1) {
                            that.$message({type: 'success', message: '登录成功'});
                            setTimeout(function () {
                                window.location.reload();
                            }, 3000);
                        } else {
                            that.$message({type: 'error', message: '账号或者密码错误'});
                        }

                    })
                },
                exit() {
                    that = this;
                    $.get('/user/exit.do', function (data) {
                        if (data == 1) {
                            that.$message({message: '已退出'});
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        } else {
                            that.$message({type: 'error', message: '退出失败'});
                        }
                    })
                },
                closeLoginPlane() {
                    this.showLoginWindow = false;
                },
                submitUpload() {
                    this.$refs.upload.submit();
                },
                handleRemove(file, fileList) {
                    console.log(file, fileList);
                },
                handlePreview(file) {
                    console.log(file);
                }
            }
        });
        var E = window.wangEditor;
        var editor = new E('#mainEdit');
        editor.customConfig.uploadImgShowBase64 = true;
        editor.customConfig.zIndex = 100;
        editor.create();

        function htmlEncode(value) {
            return $('<div/>').text(value).html();
        }

        //Html解码获取Html实体
        function htmlDecode(value) {
            return $('<div/>').html(value).text();
        }
    </script>
</div>
</body>
</html>
